// start skills
mixin skillListItem(skillName, active1, active2, active3, active4, active5)
	li.skills__listItem
		.skills__wrapSquares
			.skills__squareItem(class="#{active1}")
			.skills__squareItem(class="#{active2}")
			.skills__squareItem(class="#{active3}")
			.skills__squareItem(class="#{active4}")
			.skills__squareItem(class="#{active5}")
		.skills__nameSkill= skillName
.skills
	.container
		h3.skills__title Личностные характеристики
		.skills__wrap
			.skills__ColumnForList
				//- h4.skills__title Личностные характеристики
				ul.skills__list
					+skillListItem('Обучаемость', 'active1', 'active2', 'active3', 'active4')
					+skillListItem('Инициативность', 'active1', 'active2', 'active3')
					+skillListItem('Находчивость', 'active1', 'active2', 'active3')
					+skillListItem('Стрессоустойчивость', 'active1', 'active2', 'active3')
					+skillListItem('Комуникабельность', 'active1', 'active2')
					+skillListItem('Общительность', 'active1', 'active2')
					+skillListItem('Планирование', 'active1', 'active2')
					+skillListItem('Креативность', 'active1', 'active2', 'active3', 'active4', 'active5')
					+skillListItem('Работа в команде', 'active1', 'active2', 'active3', 'active4')

			.skills__ColumnForList
				//- h4.skills__title Личностные характеристики
				ul.skills__list
					+skillListItem('Обучаемость', 'active1', 'active2', 'active3', 'active4')
					+skillListItem('Инициативность', 'active1', 'active2', 'active3')
					+skillListItem('Находчивость', 'active1', 'active2', 'active3')
					+skillListItem('Стрессоустойчивость', 'active1', 'active2', 'active3')
					+skillListItem('Комуникабельность', 'active1', 'active2')
					+skillListItem('Общительность', 'active1', 'active2')
					+skillListItem('Планирование', 'active1', 'active2')
					+skillListItem('Креативность', 'active1', 'active2', 'active3', 'active4', 'active5')
					+skillListItem('Работа в команде', 'active1', 'active2', 'active3', 'active4')
// end skills